@import url("https://fonts.cdnfonts.com/css/serotiva");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Serotiva", sans-serif;
  font-size: 1rem;
}

body {
  min-height: 100vh;
  /* background-color: orangered; */
  overflow-x: hidden;
}

/* navigation section */

nav {
  background-color: white;
  margin-top: 40px;
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul li {
  height: 50px;
  position: relative;
}

nav ul li:first-child {
  margin-right: auto;
  margin-left: 150px;
}

nav ul li:not(:first-child) {
  right: 150px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  padding: 0 30px;
  height: 100%;
  display: flex;
  align-items: center;
}

nav ul li a:hover {
  text-shadow: 0px 0px 5px black;
  color: #ea1f57;
  cursor: pointer;
}

nav ul li:not(:first-child):not(:nth-child(6)) a::after {
  content: "";
  height: 5px;
  width: 0px;
  background: #0d36cc;
  box-shadow: 0px 0px 2px black;
  border-radius: 10px;
  position: absolute;
  bottom: -5px;
  right: 0%;
  transition: 0.3s ease-in;
}

nav ul li:not(:first-child) a:hover::after {
  width: 100%;
  left: 0%;
}

nav ul li:nth-child(5) {
  border: 1px solid #000;
}
nav ul li:nth-child(5):hover {
  background: #0d36cc;
  color: white;
}

/* hero section */

.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hero-content {
  width: 504px;
  margin-left: 190px;
  margin-top: 190px;
}
.hero-content h1 {
  color: #ea1f57;
}

.hero-image {
  width: 50%;
  margin-top: 60px;
}

.hero-content h1 {
  margin-bottom: 10px;
}

button {
  background-color: #0d36cc;
  margin-top: 30px;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 10em;
  color: #fff;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
}

button:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
}

button:hover:not(:disabled) {
  background: #ea1f57;
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
}

/* services-section */

.services-description {
  margin: 0 auto;
  width: 903px;
  margin-top: 50px;
  text-align: center;
}
.services-description h4 {
  color: #ea1f57;
}

.services-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  margin-top: 50px;
}

.services-container .webdesign {
  background-color: #c29797;
  width: 283px;
  height: 283px;
}

.services-container .graphicdesign {
  background-color: orange;
  width: 283px;
  height: 283px;
}

.services-container .emailhosting {
  background-color: purple;
  width: 283px;
  height: 283px;
}

.services-container .mssuite {
  background-color: yellow;
  width: 283px;
  height: 283px;
}
